---
import '@fontsource-variable/jetbrains-mono';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="w-screen h-screen bg-zinc-900 flex flex-col justify-center items-center">
    <h1 class="text-5xl text-zinc-500 py-4">// TODO: finish website</h1>
    <p class="text-zinc-300">email: chris.schoony@gmail.com</p>
    <p class="text-zinc-300">twitter/x: @chris_schoony</p>
	</body>
</html>
